

body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.form-control{
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 9px;
}

.form-control input{
    display: block;
    width: 300px;
    height: 20px;
}

.form-control i{
  position: absolute;
top: 31px;
right: 10px;
}

.form-control small{
  position: absolute;
  visibility: hidden;
  }

  


